<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; Ranveer Aggarwal 2017 &middot;
                    {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}">Github</a> &middot; {% endif %}
                     {% if site.facebook_username %}<a href="https://facebook.com/{{ site.facebook_username }}">Facebook</a> &middot; {% endif %}
                     {% if site.twitter_username %}<a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>{% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
