---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2> {{ page.title }} </h2>
            <p>
                {% if page.date %}
                <bd>
                    {{ page.date | date: "%b %-d, %Y" }}
                </bd>
                {% endif %}
                <br>
                <bt>
                    TAGS: &nbsp;
                    {% for tag in page.tags %}
                    {% if tag != "blog" %}
                    #{{ tag }}
                    {% endif %}
                    {% endfor %}
                </bt>
            </p>
            <hr>
            {{content}}

            {% include disqus.html %}
            <hr>
            <p><a href="/blog/">&lt; Back</a></p>
        </div>

    </div><!-- /row -->
</div> <!-- /container -->
