---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2> {{ page.title }} </h2>
            <p>
                {% if page.date %}
                <bd>
                    {{ page.date | date: "%b %-d, %Y" }}
                </bd>
                {% endif %}
                <br>
            </p>
            <hr>
            {{content}}
            <hr>
        </div>

    </div><!-- /row -->
</div> <!-- /container -->
